<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.highcaffeinecontent.catalyst.simple</string>
	<key>Ancestors</key>
	<array>
		<string>com.highcaffeinecontent.catalyst.base</string>
		<string>com.apple.dt.unit.languageChoice</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Starting point for an app.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>Nodes</key>
	<array>
		<string>Assets.xcassets</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>SUPPORTS_MACCATALYST</key>
				<string>YES</string>
				<key>SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD</key>
				<string>NO</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2,6,7</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>___VARIABLE_deployment_target___</string>
				<key>SWIFT_TREAT_WARNINGS_AS_ERRORS</key>
				<string>YES</string>
				<key>RUN_CLANG_STATIC_ANALYZER</key>
				<string>YES</string>
				<key>CLANG_STATIC_ANALYZER_MODE</key>
				<string>deep</string>
				<key>GCC_TREAT_WARNINGS_AS_ERRORS</key>
				<string>deep</string>
				<key>GCC_WARN_PEDANTIC</key>
				<string>deep</string>
				<key>INFOPLIST_FILE</key>
				<string>$(PRODUCT_NAME)/Info.plist</string>
				<key>SUPPORTED_PLATFORMS</key>
				<string>iphoneos iphonesimulator xros xrsimulator</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Assets.xcassets</string>
		</dict>
		<key>Source/main.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
			</array>
			<key>Path</key>
			<string>Source/main.m</string>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___AppDelegate.swift</string>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Swift</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___AppDelegate.m</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___AppDelegate.h</string>
			<key>SortOrder</key>
			<integer>0</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___SceneDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate.swift</string>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Swift</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___SceneDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate.m</string>
			<key>SortOrder</key>
			<integer>3</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___SceneDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate.h</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.swift</string>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Swift</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.h</string>
			<key>SortOrder</key>
			<integer>4</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
		<key>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.m</string>
			<key>SortOrder</key>
			<integer>5</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
		<key>Source/Main/___VARIABLE_classPrefix___MainViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>Source/Main/___VARIABLE_classPrefix___MainViewController.swift</string>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Swift</string>
			</dict>
		</dict>
		<key>Source/Main/___VARIABLE_classPrefix___MainViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>Source/Main/___VARIABLE_classPrefix___MainViewController.m</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
		<key>Source/Main/___VARIABLE_classPrefix___MainViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>Source/Main/___VARIABLE_classPrefix___MainViewController.h</string>
			<key>SortOrder</key>
			<integer>0</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Objective-C</string>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Source/Application/___VARIABLE_classPrefix___AppDelegate.m</string>
						<string>Source/Application/___VARIABLE_classPrefix___AppDelegate.h</string>
						<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate.m</string>
						<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate.h</string>
						<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.m</string>
						<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.h</string>
						<string>Source/Main/___VARIABLE_classPrefix___MainViewController.m</string>
						<string>Source/Main/___VARIABLE_classPrefix___MainViewController.h</string>
						<string>Source/main.m</string>
						<string>Assets.xcassets</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Source/Application/___VARIABLE_classPrefix___AppDelegate.swift</string>
						<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate.swift</string>
						<string>Source/Application/___VARIABLE_classPrefix___SceneDelegate+NSToolbar.swift</string>
						<string>Source/Main/___VARIABLE_classPrefix___MainViewController.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Image</key>
	<dict>
		<key>SystemSymbolName</key>
		<string>macbook.and.ipad</string>
	</dict>
</dict>
</plist>
